/* Global styles */
html {
    font-family: 'Poppins', 'Montserrat';
    max-width: 1200px;
    margin: 0 auto;
}

/* Button transformation *//
.buttons button {
    transition: transform 0.3s ease;
}

.buttons button:hover {
    transform: scale(1.1); 
}

/* Additional styling for left-button */
.left-button:hover {
    background-color: #FF8C00; 
    color: #fff; 
}

/* Additional styling for right-button */
.right-button:hover {
    background-color: rgba(255, 255, 255, 0.1); */
    border-color: #FF8C00; 
    color: #FF8C00; 
}


 /* Focus Style */
 a:focus {
    outline: 2px solid blue;
    
}
/* Skip Links Style */
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }
/* Back to Top Style */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;

   
    color: #fff;
    padding: 10px;
    cursor: pointer;
    display: none;
}

/* Typography */
h1, h2, h3, h4 {
    font-weight: bold;
}

p {
    font-size: 18px; 
    line-height: 1.6; 
}


h1 {
    font-size: 3em;
    font-weight: bold;
    color: #000000;
}

h2 {
    font-size: 2.5em;
    font-weight: bolder;
    color: #222;
}

h3 {
    font-size: 2em;
    font-weight: bolder;
    
}

h1 {
    color: var(--text, #252B42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42.5px;
    letter-spacing: 0.2px;
    padding: 1rem;
}
/* Banner text */
h2,
h3,
h4 {
    margin: 3rem;
}
/* Card styles */
.card1 h3 {
    color: #FA4A0C;
}

.card2 h3 {
    color: #FA4A0C;
}

 .card2 p {
    line-height: 1.5em;
    color: #000;
}


.card1 p{
    
    color: #000;
}


p {
    color: var(--second-text, #737373);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
}

/* Logo */
.logo {
    aspect-ratio: 2.04;
    object-fit: auto;
    object-position: center;
    width: 104px;
    align-self: start;
    max-width: 100%;
}


/* Navigation */

.nav-container {

    display: flex;
    justify-content: space-between;

}




.fa-solid {
    color: gray;
    font-size: 25px;
    padding-top: 18px;
    padding-right: 13px;
}

nav {
    color: #737373;
    padding: 10px 10px;
    align-items: center;
    margin-bottom: 20px;
}

nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: none;
}

.a-solid .fa-bars {
    height: 32px;
    flex-shrink: 0;
    color: #737373 width: 40px;
    align-self: ;
    margin-top: 23px;
    font-weight: 900;
}


/* Banner text */
.banner-text {
    position: relative;
    z-index: 1;
}

/* Right button */
#right-button2 {
    color: #fff;
    border: 2px solid #fff;

}

/* Button container */
.buttons {

    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
    align-items: center;
   
}

.left-button,
.right-button {
    flex: 1;
    max-width: 150px;
}

/* Left button style */
button.left-button {
    background-color: var(--companys-orange);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;


}


/* Right button style */
button.right-button {
    background-color: transparent;
    color: #FA4A0C;
    border: 2px solid var(--companys-orange);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;

}

/* Phone group */
.phonegroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-30px);

}

/* Phone image */
.phone-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(40px);
}

/* Horizontal rule */
hr {
    border-color: rgba(228, 228, 228, 1);
    border-style: solid;
    border-width: 3px;
    background-color: #e4e4e4;
    min-height: 3px;
    margin-top: 50px;
    width: 100%;
}




.banner-text h2 {
    color: #000;
}

.banner-text p {
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: center;
}

.section-banner2{
    display: flex;
    width: 100%;
    /* padding: 50px 24px; */
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background: #252B42;

}

.banner-text2 h2 {
    color: #fff;
}

.banner-text2, p {
    color: #BDBDBD;
}

#logo2 {
    display: none;
}

/* Icon alignment */
.icon {
    
    text-align: center;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;

}



/* Keyframe animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}







/* Media query for larger screens */
@media screen and (min-width: 760px) {

.logo{
    width: 13%;
}


#logo2{
    display: flex;
    justify-self: center;
}


nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: auto; 
}

nav ul li a {
    display: flex;
    text-decoration: none;
    color: var(--text, #252b42);
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 28px;
    padding: 10px;
}

    .nav-container .fa-solid {
        display: none;
    }

    .section-banner {

        padding: 20px;
        background-image: url(/images/banner.png);
        background-repeat: no-repeat;
        background-position: center ;
        width: 100%;
        
    }

    .section-banner2 {
        background-image:url(/images/bagale.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        padding: 20px;
    }


   

    .section-banner h1 {
       color: white;
        padding: 20px;
        font-weight: bolder;
        font-size: xx-large;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .section-banner h3{
      color: white;
      font-weight: bold;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .banner-text, .right-button {
        color: #fff;
    }

    .section-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .buttons button{
        font-weight: bolder;
        border: 4px;
    }

    .buttons {

        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        align-items: center;
        width: 100%;
        margin: 10px;
        flex-direction: row;
        
        
    }

    button.right-button{
        background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;

    }




    .buttons {

        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        align-items: center;
        width: 100%;
        margin: 10px;
        flex-direction: row;

        
    }

    .phone-image {
        max-width: 70%;
        height: auto;


    }

    .phonegroup {
        max-width: 50%;
        display: flex;
        justify-content: center;
         align-items: center;
        transform: translateX(170px)
       

    }

   

    .nav-container {
        display: flex;
        justify-content: space-between;
    }
    
    


.icon{
    display: flex;
    justify-content: space-around;
}




card1,
.card2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}

.card-text1,
.card-text2 {
    flex: 1; 
    padding: 0 20px; 
}

.card-image {
    flex: 1;
    padding: 0 20px; 
}

.phone-image {
    max-width: 100%; 
    height: auto; 
}

/* Animation */
.card1 {
    display: flex;
    flex-direction: row-reverse;
    animation: slideInFromRight 1s ease-in-out forwards;
}


.card2 {
    display: flex;
    flex-direction: row;
    animation: slideInFromLeft 1s ease-in-out forwards;
}



}